/* STYLES
------------------------------------------------------------ */
/*
	by Neill Harmer, @neillharmer
*/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* MIXINS
------------------------------------------------------------ */
/* GENERAL CALLINGS
------------------------------------------------------------ */
::-moz-selection {
  background: #ed1b24;
  color: #fff; }
::selection {
  background: #ed1b24;
  color: #fff; }

a {
  color: #ed1b24;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  a:hover {
    color: #0072bb; }

/* HEADINGS
------------------------------------------------------------ */
h1 {
  margin: 0 0 30px;
  font: 900 48px "Nunito Sans", sans-serif;
  line-height: 1.4;
  color: #bfc0bf;
  letter-spacing: -1px; }
  h1 a {
    color: inherit;
    text-decoration: underline; }
    h1 a:hover {
      color: #00030c; }

h2 {
  margin: 0 0 30px;
  font: 900 48px "Nunito Sans", sans-serif;
  line-height: 1.4;
  color: #bfc0bf;
  letter-spacing: -1px; }
  h2 a {
    color: inherit;
    text-decoration: underline; }
    h2 a:hover {
      color: #00030c; }

h3 {
  margin: 0 0 30px;
  font: 900 48px "Nunito Sans", sans-serif;
  line-height: 1.4;
  color: #bfc0bf;
  letter-spacing: -1px; }
  h3 a {
    color: inherit;
    text-decoration: underline; }
    h3 a:hover {
      color: #00030c; }

h4 {
  margin: 0 0 30px;
  font: 900 48px "Nunito Sans", sans-serif;
  line-height: 1.4;
  color: #bfc0bf;
  letter-spacing: -1px; }
  h4 a {
    color: inherit;
    text-decoration: underline; }
    h4 a:hover {
      color: #00030c; }

h5 {
  margin: 0 0 30px;
  font: 900 48px "Nunito Sans", sans-serif;
  line-height: 1.4;
  color: #bfc0bf;
  letter-spacing: -1px; }
  h5 a {
    color: inherit;
    text-decoration: underline; }
    h5 a:hover {
      color: #00030c; }

h6 {
  margin: 0 0 30px;
  font: 900 48px "Nunito Sans", sans-serif;
  line-height: 1.4;
  color: #bfc0bf;
  letter-spacing: -1px; }
  h6 a {
    color: inherit;
    text-decoration: underline; }
    h6 a:hover {
      color: #00030c; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 46px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

/* GENERAL CALLINGS
------------------------------------------------------------ */
p {
  margin: 0 0 20px 0; }

.center {
  text-align: center; }

.text-right {
  text-align: right; }

input[type="text"],
input[type="password"],
textarea,
select {
  font: 14px "Nunito Sans", sans-serif;
  line-height: 1.5;
  color: #00030c;
  background: #fff;
  border: 1px solid #dedede !important;
  padding: 10px;
  border-radius: 0 !important;
  outline: none !important; }
  input[type="text"]:active,
  input[type="password"]:active,
  textarea:active,
  select:active {
    border-color: #000; }

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

table {
  margin: 0 0 35px 0; }
  table tr,
  table td {
    vertical-align: top; }
    table tr p,
    table td p {
      margin-bottom: 5px !important; }

ul {
  margin: 0 0 10px 0;
  list-style-type: square; }
  ul:last-child {
    margin: 0; }
  ul li {
    margin-bottom: 5px; }

.btn {
  background-color: #ed1b24;
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ed1b24), to(#0072bb));
  background-image: -o-linear-gradient(left, #ed1b24, #0072bb);
  background-image: linear-gradient(to right, #ed1b24, #0072bb);
  position: relative;
  z-index: 100;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 15px 30px !important;
  border: none;
  font: 15px/1 "Nunito Sans", sans-serif;
  color: #fff !important;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 0;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  text-transform: none !important; }
  .btn::before {
    background-image: -webkit-gradient(linear, left top, right top, from(#0072bb), to(#ed1b24));
    background-image: -o-linear-gradient(left, #0072bb, #ed1b24);
    background-image: linear-gradient(to right, #0072bb, #ed1b24);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s; }
  .btn:hover::before {
    opacity: 1; }
  .btn.btn-full {
    width: 100%; }

.warning {
  font-size: small; }

/* BODY and CONTAINERS
------------------------------------------------------------ */
html {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  font: 13px/1 "Nunito Sans", sans-serif;
  color: #00030c;
  text-rendering: optimizeLegibility;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e4e6e5;
  overflow: hidden; }

#setup,
#noF5,
#moneybar,
#option,
#refresh,
#board,
#control,
#trade,
#manage,
#popupwrap,
#popupbackground,
#statswrap,
#statsbackground,
#deed,
.die,
.enlarge,
.propertycelldeed,
.cell-owner {
  display: none; }

.max-contain {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;
  position: relative;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

#setup {
  background: #fff;
  padding: 30px;
  border-radius: 3px;
  width: 45%;
  margin: auto; }
  #setup .player-wrap {
    padding: 10px; }
    #setup .player-wrap:nth-child(odd) {
      background: #e6edf6; }
    #setup .player-wrap input,
    #setup .player-wrap select {
      margin: 0 5px; }

#moneybarwrap {
  position: fixed;
  top: 30px;
  left: auto;
  right: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff; }
  #moneybarwrap #moneybar {
    padding: 30px 30px 30px 10px;
    z-index: 14;
    position: relative;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  #moneybarwrap .moneybararrowcell {
    text-align: right;
    padding: 0; }
    #moneybarwrap .moneybararrowcell img.money-bar-arrow {
      height: 25px;
      width: auto; }
  #moneybarwrap .moneybarcell {
    font-size: 15px;
    padding: 10px;
    border-width: 3px !important; }
    #moneybarwrap .moneybarcell strong {
      font: 11px/1 "Nunito Sans", sans-serif;
      text-transform: uppercase;
      font-weight: 900; }

#propertystats {
  margin-right: 110px; }

#board {
  border: 2px solid black;
  border-spacing: 3px;
  margin: 25px;
  background: #cde6d0; }

#jail {
  border: 1px solid black;
  height: 65px;
  width: 65px;
  position: relative;
  top: 73px;
  left: -73px;
  z-index: 2; }

#control {
  position: absolute;
  z-index: 9;
  top: 250px;
  left: 225px;
  width: 530px;
  padding: 20px;
  border-radius: 3px;
  background-color: #fff; }
  #control #quickstats {
    font: 11px/1 "Nunito Sans", sans-serif;
    border: 3px solid blue;
    margin: 0 0 15px 0;
    padding: 10px;
    width: 100px;
    float: right; }
    #control #quickstats #pname {
      text-transform: uppercase;
      font-weight: 900; }
    #control #quickstats #pmoney {
      display: block;
      font-size: 15px;
      padding: 5px 0 0; }
  #control .the-dice {
    float: right;
    margin: 14px 10px 0 0; }
    #control .the-dice .die {
      margin: 0 3px;
      display: inline-block;
      width: 30px;
      height: 30px; }
  #control .menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    #control .menu li {
      display: inline-block; }
      #control .menu li a {
        display: block;
        padding: 10px; }
  #control #alert {
    width: 100%;
    height: 275px;
    margin: 0 10px 0 0;
    padding: 10px;
    border: 1px solid #e4e6e5;
    font: 13px/1.5 "Nunito Sans", sans-serif;
    background-color: #fff;
    overflow-y: scroll; }
  #control #landed {
    padding: 10px 10px;
    font: 13px/1 "Nunito Sans", sans-serif !important;
    border: 1px solid #e4e6e5;
    background-color: #e4e6e5;
    border-top: none;
    width: 100%;
    margin: 0; }

#manage {
  width: 308px;
  border: 1px solid gray; }

#option {
  border-bottom: 1px solid #e4e6e5;
  background-color: #fff;
  background: #fff;
  vertical-align: middle;
  padding: 3px;
  text-align: center;
  min-height: 26px; }

#buildings {
  margin: auto;
  height: 21px;
  font-size: 16px;
  font-weight: bold; }
  #buildings .house {
    width: 25px;
    height: 19px;
    vertical-align: top;
    float: none; }
  #buildings .hotel {
    width: 26px;
    height: 19px;
    vertical-align: top;
    float: none; }

#owned {
  padding: 3px 0px;
  background-color: white;
  text-align: center;
  max-height: 390px;
  overflow-y: auto; }

#property {
  margin-right: 1px;
  background: white; }

#trade {
  border: 2px solid black;
  width: 630px;
  margin: 15px auto;
  background-color: white;
  border-radius: 8px;
  padding: 2px;
  z-index: 14; }

#trade-leftp-name {
  font-size: 13px;
  font-weight: bold; }

#trade-leftp-name option {
  font-size: 13px;
  font-weight: normal; }

#trade-rightp-name {
  font-size: 13px;
  font-weight: bold; }

#trade-rightp-name option {
  font-size: 13px;
  font-weight: normal; }

#trade-leftp-money {
  width: 90%; }

#trade-rightp-money {
  width: 90%; }

#deedcolor {
  background: white;
  width: 100%;
  height: 48px; }

#deedname {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  background-color: white; }

#popup {
  width: 300px;
  min-width: 300px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.5;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  display: block;
  z-index: 13;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

#popupwrap {
  position: absolute;
  top: 255px;
  left: 0px;
  width: 100%;
  background-color: transparent;
  z-index: 13;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

#popuptext {
  overflow-x: auto; }

/* #popupclose {
	display: none;
	position: absolute;
	top: -24px;
	right: -25px;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	overflow: visible;
	z-index: 12;
} */
#popupclose input {
  margin: 0px;
  background-color: red;
  height: 18px;
  width: 18px;
  padding: 0px; }

#popupbackground {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: 0.5;
  z-index: 10; }

#popupdrag {
  width: 100%;
  height: 16px;
  position: absolute;
  top: -16px;
  cursor: move; }

#stats {
  max-width: 914px;
  min-width: 454px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.5;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  display: block;
  z-index: 17;
  margin: auto;
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

#statswrap {
  position: absolute;
  top: 250px;
  left: 0px;
  width: 100%;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

#statstext {
  overflow: hidden;
  min-height: 70px; }

#statsclose {
  display: block;
  position: absolute;
  top: -24px;
  right: -25px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  overflow: visible;
  z-index: 17; }

#statsbackground {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000000;
  opacity: .5;
  z-index: 16; }

#statsdrag {
  width: 100%;
  height: 16px;
  position: absolute;
  top: -16px;
  cursor: move; }

#deed {
  position: fixed;
  border: 2px solid black;
  width: 235px;
  height: 275px;
  background-color: white;
  z-index: 18;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

#deed td {
  border: none; }

#deed-header {
  width: 215px;
  height: 48px;
  border: 1px solid black;
  margin: 9px;
  background-color: yellow;
  text-align: center;
  text-transform: uppercase;
  font-family: Calibri, Arial; }

#deed-name {
  font-size: 15px;
  font-weight: bold; }

#deed-table {
  margin: 9px;
  width: 217px;
  border-spacing: 1px; }

#deed-mortgaged {
  font-family: Calibri, Arial;
  font-size: 16px;
  text-align: center; }

#deed-mortgaged-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 20px 20px; }

#deed-special {
  font-family: Calibri, Arial;
  text-align: justify; }

#deed-special-name {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-width: 2px 0px;
  text-transform: uppercase;
  margin: 50px 20px 20px; }

#deed-special-text {
  margin: 20px;
  font-size: 15px; }

#deed-special-footer {
  margin: 0px 20px;
  width: 195px;
  position: absolute;
  bottom: 20px;
  font-size: 16px; }

.house {
  width: 25px;
  height: 19px;
  vertical-align: middle;
  float: right; }

.hotel {
  width: 26px;
  height: 19px;
  vertical-align: middle;
  float: right; }

.cell {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-size: auto 40px; }

.board-center {
  width: 675px;
  border: none;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-size: auto 40px; }

.board-corner {
  width: 102px;
  height: 102px; }

.board-top {
  width: 72px;
  height: 102px; }

.board-bottom {
  width: 72px;
  height: 102px; }

.board-left {
  width: 102px;
  height: 72px; }

.board-right {
  width: 102px;
  height: 72px; }

.enlarge {
  width: 150px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  font-size: 12px;
  font-family: arial, sans-serif;
  position: fixed;
  z-index: 15; }

.enlarge-color {
  background: white;
  width: 100%;
  height: 40px; }

.enlarge-name {
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  height: 45px; }

.enlarge-price {
  background-color: white;
  vertical-align: bottom;
  height: 25px; }

.enlarge-token {
  height: 45px;
  width: 150px; }

.propertycellcheckbox {
  width: 20px;
  height: 20px;
  border: none;
  vertical-align: middle; }

.propertycellcolor {
  padding: 0px;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: white; }

.propertycellname {
  height: 20px;
  width: 250px;
  border: none;
  cursor: default;
  text-align: left;
  vertical-align: middle; }

.propertycelldeed {
  width: 18px;
  height: 20px;
  border: 1px solid grey;
  cursor: pointer; }

.statscellcolor {
  padding: 0px;
  width: 22px;
  height: 20px;
  border: none; }

.statscellname {
  height: 20px;
  border: none;
  cursor: default;
  text-align: left;
  min-width: 172px; }

.statsplayername {
  font-weight: bold;
  font-size: 24px; }

.statscell {
  border: 2px solid black;
  padding: 8px;
  vertical-align: top;
  width: 202px;
  min-width: 115px; }

.trade-cell {
  border: none;
  border-radius: 3px;
  width: 308px;
  height: 26px;
  vertical-align: middle; }

.cell-anchor {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0px;
  left: 0px; }

.cell-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%; }

.cell-position-holder {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative; }

.cell-position {
  height: 16px;
  width: 16px; }

.cell-owner {
  background-size: cover;
  position: absolute; }

.board-top .cell-owner {
  background-image: url("images/hori-bar.png");
  height: 15px;
  left: 0px;
  top: -25px;
  width: 72px; }

.board-bottom .cell-owner {
  background-image: url("images/hori-bar.png");
  bottom: -25px;
  height: 15px;
  left: 0px;
  width: 72px; }

.board-left .cell-owner {
  background-image: url("images/vert-bar.png");
  height: 68px;
  left: -25px;
  top: 0px;
  width: 15px; }

.board-right .cell-owner {
  background-image: url("images/vert-bar.png");
  height: 68px;
  right: -25px;
  top: 0px;
  width: 15px; }
