/* GENERAL CALLINGS
------------------------------------------------------------ */	


::selection {
	background: $board-red; 
	color: $white;
}


a {
	color: $board-red;
	cursor: pointer;
	text-decoration: none;	
	transition: all 0.25s ease-in-out;
	
	&:hover {
		color: $board-blue;
	}
}




/* HEADINGS
------------------------------------------------------------ */	

@include headings() {
	margin: 0 0 30px; 
	font: 900 48px $primaryFont;
	line-height: 1.4;
	color:  #bfc0bf;
	letter-spacing: -1px;
	
	a {
		color: inherit;
		text-decoration: underline;
		
		&:hover {
			color: $black;
		}
	}
}
		
	h1 {
		font-size: 50px;
	}
		
	h2 {
		font-size: 46px;
	}
		
	h3 {
		font-size: 18px;
	}	
		
	h4 {
		font-size: 20px;
	}	
		
	h5 {
		font-size: 18px;
	}	
		
	h6 {
		font-size: 16px;
	}








/* GENERAL CALLINGS
------------------------------------------------------------ */	

p { 
	margin: 0 0 20px 0; 
}


// text align
.center {
	text-align: center;
}

.text-right {
	text-align: right;
}
	

// inputs and "forms"
input[type="text"],
input[type="password"],
textarea,
select {
	font: 14px $primaryFont;
	line-height: 1.5;
	color: $black;
	background: $white; 
	border: 1px solid #dedede !important;
	padding: 10px;
	border-radius: 0 !important;
	outline: none !important;
	
	&:active {
		border-color: #000;
	}
}


// images
img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}


// tables 
table {
	margin: 0 0 35px 0;
	
	tr,
	td {
		vertical-align: top;
		
		p {
			margin-bottom: 5px !important;
		}
	}
}


// lists
ul {
	margin: 0 0 10px 0;
	list-style-type: square;
	
	&:last-child { 
		margin: 0; 
	}	
	
	li {
		margin-bottom: 5px;
	}
}


// buttons
.btn { 
	background: $board-green;
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 15px 20px !important;
	border: none;
	font: 700 13px/1 $primaryFont !important;
	letter-spacing: 2px;
	color: $white !important;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	transition: all 0.5s ease-in-out;
	border-radius: 0;
	text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
	text-transform: uppercase !important;
	
	&.btn-full {
		width: 100%;
	}
	
	&.btn-fade {
		padding: 20px 30px !important;
		@include gradient-animation( $board-red, $board-blue, 0.5s );
	}
	
	&.btn-action {
		background: $board-red;
	}
	
	&.btn-text {
		padding: 0 !important;
		color: $board-blue !important;
		margin-left: 10px;
		letter-spacing: 1px;
		background: transparent;
		font: 700 12px/1 $primaryFont !important;
	}
}



// warnings 
.warning {
	font-size: small;
}

