/* MIXINS
------------------------------------------------------------ */	


// gradient hover effect
@mixin gradient-animation( $start, $end, $transTime ) {
	background-color: $start;
	background-size: 100%;
	background-image: linear-gradient(to right, $start, $end);
	position: relative;
	z-index: 100;
	
	&::before {
		background-image: linear-gradient(to right, $end, $start);
		content: '';    
		display: block;
		height: 100%;
		position: absolute;
		top: 0; 
		left: 0;
		opacity: 0;
		width: 100%;
		z-index: -100;
		transition: opacity $transTime;
	}
	
	&:hover {
		&::before {
			opacity: 1; 
		}
	}
}

// use -->  @include gradient-animation( $board-red, $board-blue, 0.5s );




// headings
@mixin headings($from: 1, $to: 6) {
	@for $i from $from through $to {
		h#{$i}{
			@content
		}
	}
}