
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900');
 
 
// The Fonts

$primaryFont: 				'Nunito Sans', sans-serif;



// Specific board and properties
$board-bg:					#cde6d0;	// board background color
$board-brown:				#955436;	// brown
$board-lightBlue:			#82a2d3;	// light blue
$board-pink:				#d93a96;	// pink
$board-orange:				#f7941d;	// orange
$board-red:					#ed1b24;	// red
$board-yellow:				#fef200;	// yellow
$board-green:				#1fb25a;	// green
$board-blue:				#0072bb;	// blue

	   
// Others
$white:						#fff;
$black:						#00030c;	

$grey:						#e4e6e5;








