/* STYLES
------------------------------------------------------------ */	

/*
	by Neill Harmer, @neillharmer
*/



* {
	box-sizing: border-box;
}



// imports
@import "mixins";
@import "variables";
@import "general";




/* BODY and CONTAINERS
------------------------------------------------------------ */	

html {
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
    font: 13px/1 $primaryFont;
    color: $black;
	text-rendering: optimizeLegibility;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;	
	background-color: $grey;
	overflow: hidden;
}




// Hiding things for later or to show and tell
#setup,
#noF5,
#moneybar,
#option,
#refresh,
#board,
#control,
#trade,
#manage,
#popupwrap,
#popupbackground,
#statswrap,
#statsbackground,
#deed,
.die,
.enlarge,
.propertycelldeed,
.cell-owner {
	display: none;
}




// container 
.max-contain {
	max-width: 1024px;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
	position: relative;
	padding-top: 30px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}





// setup screen
#setup {
	background: $white;
	padding: 30px;
	border-radius: 3px;
	width: 50%;
	margin: auto;
	
	.player-wrap {
		padding: 10px;
		
		&:nth-child(odd) {
		    background: #e6edf6;
		}
		
		input,
		select {
			margin: 0 5px;
		}
	}
}





// moneybar (player cash tracker)
#moneybar {
	position: fixed;
	z-index: 14;
	top: 30px;
	left: auto;
	right: 30px;
	user-select: none;
	background-color: $white;
	padding: 20px;
	width: 140px;
	
	// arrow
	.money-bar-arrow {
		width: 0; 
		height: 0; 
		border-top: 13px solid transparent;
		border-bottom: 13px solid transparent; // right border is generated in JS
		position: absolute;
		left: 10px;
		margin-top: 5px;
	}
	
	// name and money count
	.moneybarcell {
		margin-bottom: 12px;
		padding: 10px;
		border-width: 3px !important;

		strong {
			font: 11px/1 $primaryFont;
			text-transform: uppercase;
			font-weight: 900;
		}
		
		.money-total {
			display: block;
			position: relative;
			font-size: 15px;
			padding: 5px 0 0 10px;
			
			&:before {
				font-size: 15px;
				display: block;
				position: absolute;
				content: '\0024';
				left: 0;
			}
		}	
	}
}





// Buy, Manage, Trade
#control {
	position: absolute;
	z-index: 9;
	top: 50%;
	left: 50%;
	margin: -230px 0 0 -265px;
	width: 530px;
	padding: 20px 20px 110px;
	border-radius: 3px;
	background-color: $white;
	
	// players quick stats
	#quickstats {
		font: 11px/1 $primaryFont;
		border: 3px solid blue;
		margin: 0 0 15px 0;
		padding: 10px;
		width: 100px;
		float: right;
		display: none;

		#pname {
			text-transform: uppercase;
			font-weight: 900;
		}

		#pmoney {
			display: block;
			font-size: 15px;
			padding: 5px 0 0
		}
	}
	
	// dice
	.the-dice {
		position: absolute;
		right: 18px;
		
		.die {
			margin: 0 3px;
			display: inline-block;
			width: 30px;
			height: 30px;
		}
	}
	
	// the menu
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			display: inline-block;
			
			a {
				display: block;
				padding: 10px;
			}
		}
	}
	
	// info box
	#alert {
		width: 100%;
		height: 275px;
		margin: 0;
		padding: 15px;
		border: 1px solid $grey;
		font: 13px/1.5 $primaryFont;
		background-color: $white;
		overflow-y: scroll;
	}
	
	#landed {	
		padding: 12px 10px 10px;
		font: 13px/1 $primaryFont !important;
		border: 1px solid $grey;
		background-color: $grey;
		border-top: none;
		position: absolute;
		left: 20px;
		right: 20px;
	}
	
	.button-wrapper {
		left: 20px;
		right: 20px;
		bottom: 0;
		position: absolute;
	}
}




#manage {
	width: 100%;
	height: 275px;
	border: 1px solid $grey;
	font: 13px/1.5 $primaryFont;
	background-color: $white;
}

#option {
	border-bottom: 1px solid $grey;
	background-color: $white;
	background: $white;
	vertical-align: middle;
	padding: 3px;
	text-align: center;
	min-height: 26px;
}





#buildings {
	margin: auto;
	height: 21px;
	font-size: 16px;
	font-weight: bold;
	
	.house {
		width: 25px;
		height: 19px;
		vertical-align: top;
		float: none;
	}

	.hotel {
		width: 26px;
		height: 19px;
		vertical-align: top;
		float: none;
	}	
}



#owned {
	padding: 3px 0px;
	background-color: white;
	text-align: center;
	max-height: 390px;
	overflow-y: auto;
}

#property {
	margin-right: 1px;
	background: white;
}

#trade {
	border: 2px solid black;
	width: 630px;
	margin: 15px auto;
	background-color: white;
	border-radius: 8px;
	padding: 2px;
	z-index: 14;
}

#trade-leftp-name {
	font-size: 13px;
	font-weight: bold;
}

#trade-leftp-name option {
	font-size: 13px;
	font-weight: normal;
}

#trade-rightp-name {
	font-size: 13px;
	font-weight: bold;
}

#trade-rightp-name option {
	font-size: 13px;
	font-weight: normal;
}

#trade-leftp-money {
	width: 90%;
}

#trade-rightp-money {
	width: 90%;
}

#deedcolor {
	background: white;
	width: 100%;
	height: 48px;
}

#deedname {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
}






// popup and stats
#popupbackground,
#statsbackground {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.65);
	z-index: 20;
}

#popupwrap,
#statswrap {
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	z-index: 23;
	user-select: none;
}

#popup,
#stats {
	width: 400px;
	min-width: 400px;
	padding: 25px;
	text-align: center;
	word-wrap: break-word;
	border-radius: 3px;
	background-color: $white;
	display: block;
	z-index: 13;
	margin: auto;
	user-select: none;
}

#popuptext {
	overflow-x: auto;
}





// player stats 
#stats {
	width: auto;
	max-width: 914px;
	padding: 20px;
	position: relative;
	top: 0;
	left: 0;

	#statstext {
		overflow: hidden;
		min-height: 70px;
	}

	#statsclose {
		display: block;
		position: absolute;
		top: -24px;
		right: -25px;
		width: 30px;
		height: 30px;
		border: none;
		cursor: pointer;
		overflow: visible;
		z-index: 27;
	}
}




// deed
#deed {
	position: fixed;
	border: 2px solid black;
	width: 235px;
	height: 275px;
	background-color: white;
	z-index: 18;
	user-select: none;
}

#deed td {
	border: none;
}

#deed-header {
	width: 215px;
	height: 48px;
	border: 1px solid black;
	margin: 9px;
	background-color: yellow;
	text-align: center;
	text-transform: uppercase;
	font-family: Calibri, Arial;
}

#deed-name {
	font-size: 15px;
	font-weight: bold;

}

#deed-table {
	margin: 9px;
	width: 217px;
	border-spacing: 1px;
}

#deed-mortgaged {
	font-family: Calibri, Arial;
	font-size: 16px;
	text-align: center;

}

#deed-mortgaged-name {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 20px 20px;
}

#deed-special {
	font-family: Calibri, Arial;
	text-align: justify;
}

#deed-special-name {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-style: solid;
	border-width: 2px 0px;
	text-transform: uppercase;
	margin: 50px 20px 20px;
}

#deed-special-text {
	margin: 20px;
	font-size: 15px;
}

#deed-special-footer {
	margin: 0px 20px;
	width: 195px;
	position: absolute;
	bottom: 20px;
	font-size: 16px;
}









// properties
.house {
	width: 25px;
	height: 19px;
	vertical-align: middle;
	float: right;
}

.hotel {
	width: 26px;
	height: 19px;
	vertical-align: middle;
	float: right;
}





// the board background
#board {
	background: $board-bg;
	margin: auto;
}


#jail {
	border-left: 3px solid $board-breaks !important;
	border-bottom: 3px solid $board-breaks !important;
	background: $board-orange;
	height: 65px;
	width: 65px;
	position: relative;
    top: 65px;
    left: 52px;
	z-index: 2;
}


// the board specifics
.cell {
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	vertical-align: bottom;
	border: 2px solid $black !important;

	&.board-corner {
		width: 120px;
		height: 102px;
	}

	&.board-top {
		width: 75px;
		height: 120px;
		border-bottom: 3px solid $board-breaks !important;
	}

	&.board-bottom {
		width: 75px;
		height: 120px;
	}

	&.board-left {
		width: 120px;
		height: 75px;
	}

	&.board-right {
		width: 120px;
		height: 75px;
	}
}


.board-center {
	width: 675px;
	border: none;
	border: 1px solid $board-breaks !important;
}





// enlarge
.enlarge {
	width: 150px;
	height: 200px;
	background-color: $white;
	border: 3px solid black;
	text-align: center;
	position: fixed;
	z-index: 15;
}

.enlarge-color {
	background: $white;
	width: 100%;
	height: 40px;
}

.enlarge-name {
	font-weight: 700;
	font-size: 20px;
	background-color: $white;
	height: 45px;
}

.enlarge-price {
	background-color: $white;
	vertical-align: bottom;
	height: 25px;
}

.enlarge-token {
	height: 45px;
	width: 150px;
}





.propertycellcheckbox {
	width: 20px;
	height: 20px;
	border: none;
	vertical-align: middle;
}

.propertycellcolor {
	padding: 0px;
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: $white;
}

.propertycellname {
	height: 20px;
	width: 250px;
	border: none;
	cursor: default;
	text-align: left;
	vertical-align: middle;
}

.propertycelldeed {
	width: 18px;
	height: 20px;
	border: 1px solid grey;
	cursor: pointer;
}

.statscellcolor {
	padding: 0px;
	width: 22px;
	height: 20px;
	border: none;
}

.statscellname {
	height: 20px;
	border: none;
	cursor: default;
	text-align: left;
	min-width: 172px;
}

.statsplayername {
	font-weight: bold;
	font-size: 24px;
}

.statscell {
	border: 2px solid black;
	padding: 8px;
	vertical-align: top;
	width: 202px;
	min-width: 115px;
}

.trade-cell {
	border: none;
	border-radius: 3px;
	width: 308px;
	height: 26px;
	vertical-align: middle;
}

.cell-anchor {
	width: 100%;
	height: 100%;
	position: relative;
	bottom: 0px;
	left: 0px;
}

.cell-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
}

.cell-position-holder {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
}

.cell-position {
	height: 16px;
	width: 16px;
	//position: absolute;
	//top: 0;
	//left: 0;
}

.cell-owner {
	background-size: cover;
	position: absolute;
}


.board-top .cell-owner {
	background-image: url("images/hori-bar.png");
	height: 15px;
	left: 0px;
	top: -25px;
	width: 72px;

}

.board-bottom .cell-owner {
	background-image: url("images/hori-bar.png");
	bottom: -25px;
	height: 15px;
	left: 0px;
	width: 72px;
}

.board-left .cell-owner {
	background-image: url("images/vert-bar.png");
	height: 68px;
	left: -25px;
	top: 0px;
	width: 15px;
}

.board-right .cell-owner {
	background-image: url("images/vert-bar.png");
	height: 68px;
	right: -25px;
	top: 0px;
	width: 15px;
}





